
body {
	margin: 0px;
}

body, td {
	font-family: verdana, tahoma;
	font-size: 11px;
}

pre {
	font-family: monospace;
	font-size: 14px;
	margin: 1px;
}

h3 {
	margin: 0;
	margin-left: 24px;
	font-size: 18px;
}

button {
	background-color: #66c;
	color: white;
	border: solid 1px blue;
	border-bottom: solid 1px black;
}

.btStop {
	background-color: #c66;
	border: solid 1px red;	
}

.btRun {
}

a:visited {
	color: #16a;
}

.point {
	position: absolute;
	width: 3px;
	height: 3px;
}

.output {
	background: black; 
	padding: 4px; 
	border: solid 1px gray; 
	color: white;
	min-height: 384px;
}

.output pre {
	display: inline;
}

.output input {
	font-family: monospace;
	font-size: 14px;	
	border: 0px;
	background-color: #333333;
	color: white;
}

.code {
	border: solid 1px gray;
  width: 100%;
}

.translation {
	height: 384px;
	background: #CCFFCC; 
	padding: 4px; 
	border: solid 1px green; 
	overflow: auto;
}

.translation pre {
	font-size: 10px;
}

.tabContents {
	display: none;
}

.tabs {
	list-style-type: none;
	padding-bottom: 24px;
	border-bottom: 1px solid #66c;
	margin: 0;
	font-size: 12px;
}

.tabs li {
	float: left;
	height: 21px;
	background-color: #ddf;
	margin: 2px 2px 0 2px;
	border: 1px solid #66c;
}

.tabs a {
	float: left;
	display: block;
	color: #66c;
	text-decoration: none;
	padding: 4px;
}

.tabs a:hover {
	background: #fff;
}

.tabSelected {
	border-bottom: 1px solid #fff;
	background-color: #fff;
}

.tabSelected a {
	font-weight: bold;
	color: #000;
	background-color: #fff;
}

.cell1, .cell2, .cell3, .cell4, .cell5 {
	width: 4px;
	height: 4px;
	font-size: 0px;
}

.cell1 {
	background-color: #0000FF;
}

.cell2 {
	background-color: #4444FF;
}

.cell3 {
	background-color: #8888FF;
}

.cell4 {
	background-color: #CCCCFF;
}

.cell5 {
}

.nib {
	padding: 0px;
	margin: 0px;
	width: 16px;
	height: 2px;
	background-color: black;
}

.byt {
	width:16px;
	height:2px;
}

